// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.photo {
  background-color: #fff;
  padding: 20px 40px;
  margin-left: 5%;
  margin-bottom: 20px;

}

.buttons {
	margin-left: 5%;
}

.photo p {
	margin: 7px 0px;
    font-size: 14px;
    font-weight: 600;
}


.category-field {
  width: 50%;
}

.category-field:hover {
    color: #333;
    background-color: #fff;
    border-color: #adadad;
}

.category-field:active, .category-field:focus {
    color: #333;
    background-color: #fff;
    border-color: #adadad;
}

.category-field:active:focus {
    color: #333;
    background-color: #fff;
    border-color: #adadad;
    outline: none;
    box-shadow: none;
}